<div id="<%= dom_id listing %>">
  <p>
    <strong>Lister:</strong>
    <%= listing.lister %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= listing.address %>
  </p>

  <p>
    <strong>Beds:</strong>
    <%= listing.beds %>
  </p>

  <p>
    <strong>Baths:</strong>
    <%= listing.baths %>
  </p>

  <p>
    <strong>Catergory:</strong>
    <%= listing.catergory %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

</div>
